<a href="https://colab.research.google.com/github/cinthia-cientistadedados/cinthia-cientistadedados/blob/main/Melt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel('corrigindoVendas.xlsx', sheet_name = 'Planilha1')
df_corrigido = pd.melt(df,id_vars=['Data'], var_name='Sigla',value_name='Venda')
df_corrigido

           Data Sigla    Venda
0    2020-10-25    DF        -
1    2020-10-24    DF      375
2    2020-10-22    DF     5990
3    2020-10-21    DF     1500
4    2020-10-20    DF  1431.25
...         ...   ...      ...
9595 2019-03-03    SC   5000.0
9596 2019-03-01    SC   5000.0
9597 2019-02-28    SC  4826.25
9598 2019-02-26    SC   4500.0
9599 2019-02-25    SC    562.5

[9600 rows x 3 columns]

In [ ]:
df_corrigido['Venda'] = pd.to_numeric(df_corrigido['Venda'],errors='coerce')
df_corrigido

           Data Sigla    Venda
0    2020-10-25    DF      NaN
1    2020-10-24    DF   375.00
2    2020-10-22    DF  5990.00
3    2020-10-21    DF  1500.00
4    2020-10-20    DF  1431.25
...         ...   ...      ...
9595 2019-03-03    SC  5000.00
9596 2019-03-01    SC  5000.00
9597 2019-02-28    SC  4826.25
9598 2019-02-26    SC  4500.00
9599 2019-02-25    SC   562.50

[9600 rows x 3 columns]

In [ ]:
df_corrigido['Ano'] = df_corrigido['Data'].dt.year
df_corrigido

           Data Sigla    Venda   Ano
0    2020-10-25    DF      NaN  2020
1    2020-10-24    DF   375.00  2020
2    2020-10-22    DF  5990.00  2020
3    2020-10-21    DF  1500.00  2020
4    2020-10-20    DF  1431.25  2020
...         ...   ...      ...   ...
9595 2019-03-03    SC  5000.00  2019
9596 2019-03-01    SC  5000.00  2019
9597 2019-02-28    SC  4826.25  2019
9598 2019-02-26    SC  4500.00  2019
9599 2019-02-25    SC   562.50  2019

[9600 rows x 4 columns]

In [ ]:
df_estados = pd.read_excel('frete.xlsx')
df_estados

          Região Sigla  Frete
0   Centro Oeste    DF     20
1   Centro Oeste    GO     20
2   Centro Oeste    MS     10
3   Centro Oeste    MT     40
4       Nordeste    AL     20
5       Nordeste    BA     60
6       Nordeste    CE     60
7       Nordeste    MA    110
8       Nordeste    PE     60
9       Nordeste    PI     50
10      Nordeste    RN     80
11         Norte    AM    110
12         Norte    AP     50
13         Norte    PA    110
14         Norte    RO     80
15         Norte    RR    120
16         Norte    TO     20
17       Sudeste    ES     10
18       Sudeste    MG     50
19       Sudeste    RJ     10
20       Sudeste    SP     60
21           Sul    PR     20
22           Sul    RS     10
23           Sul    SC    120

In [ ]:
df_procv = pd.merge(df_corrigido, df_estados[['Sigla', 'Região', 'Frete']], on='Sigla', how='left')
df_procv

           Data Sigla    Venda   Ano        Região  Frete
0    2020-10-25    DF      NaN  2020  Centro Oeste     20
1    2020-10-24    DF   375.00  2020  Centro Oeste     20
2    2020-10-22    DF  5990.00  2020  Centro Oeste     20
3    2020-10-21    DF  1500.00  2020  Centro Oeste     20
4    2020-10-20    DF  1431.25  2020  Centro Oeste     20
...         ...   ...      ...   ...           ...    ...
9595 2019-03-03    SC  5000.00  2019           Sul    120
9596 2019-03-01    SC  5000.00  2019           Sul    120
9597 2019-02-28    SC  4826.25  2019           Sul    120
9598 2019-02-26    SC  4500.00  2019           Sul    120
9599 2019-02-25    SC   562.50  2019           Sul    120

[9600 rows x 6 columns]

In [ ]:
df_procv = df_procv.assign(Total=df_procv['Venda'] + df_procv['Frete'])
df_procv

           Data Sigla    Venda   Ano        Região  Frete    Total
0    2020-10-25    DF      NaN  2020  Centro Oeste     20      NaN
1    2020-10-24    DF   375.00  2020  Centro Oeste     20   395.00
2    2020-10-22    DF  5990.00  2020  Centro Oeste     20  6010.00
3    2020-10-21    DF  1500.00  2020  Centro Oeste     20  1520.00
4    2020-10-20    DF  1431.25  2020  Centro Oeste     20  1451.25
...         ...   ...      ...   ...           ...    ...      ...
9595 2019-03-03    SC  5000.00  2019           Sul    120  5120.00
9596 2019-03-01    SC  5000.00  2019           Sul    120  5120.00
9597 2019-02-28    SC  4826.25  2019           Sul    120  4946.25
9598 2019-02-26    SC  4500.00  2019           Sul    120  4620.00
9599 2019-02-25    SC   562.50  2019           Sul    120   682.50

[9600 rows x 7 columns]

In [ ]:
df_procv.to_csv('baseVendasCorrigida.csv', index=False)